/* reset */
html,
button,
input,
textarea,
select,
figure,
article,
section,
aside,
header,
footer,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
select {
	background: url(../img/select-icon.png) no-repeat right center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 24px;
	width: 24px;
	background: red;
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 24px;
	width: 24px;
	background: url('/img/ic_baseline-cancel.svg') no-repeat center center;
}

input[type='search'] {
	-moz-appearance: none;
	text-indent: 0;
}

input[type='search']::-moz-search-clear {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}
img {
	border: 0;
}

img,
svg {
	max-width: 100%;
	display: block;
}

ol,
ul {
	list-style: none;
}

li {
	user-select: none;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	width: 100%;
}
html,
body {
	height: 100%;
}

:root {
	--gray0: #979797;
	--gray1: #f4f4f4;
	--gray2: #b5b5b5;
	--gray3: #616161;
	--gray4: #333;
	--gray5: #000;
	--color-primary: #fd0d00;
	--padding-xs: 1.6rem;
	--padding-sm: 2.4rem;
	--padding-md: 4.8rem;
	--padding-lg: 9.6rem;
}

/* Início dos estilos de classes utilitárias
 */

.w-100 {
	width: 100% !important;
}

.margin-bottom-20 {
	margin-bottom: 2rem;
}
.divider {
	height: 1px;
	width: 100%;
	background-color: #333333;
}

.bg-black {
	background-color: var(--gray5);
}

.input-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.4rem;
}

.flex-y-24 {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.flex-y-16 {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.mt-24 {
	margin-top: 2.4rem;
}

.overflow-auto {
	overflow: auto !important;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vh100 {
	height: 100vh;
}

.none {
	display: none !important;
}

.bg-black {
	background: var(--gray5) !important;
}

/* Fim dos estilos de classes utilitárias
 */

/* Início dos estilos globais de tipografia
 */

* {
	font-family: 'Source Sans Pro', sans-serif;
}

.title-section-h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	text-transform: uppercase;
}

/* Fim dos estilos globais de tipografia
 */

/*Início dos estilos globais de botões*/

.btn {
	font-size: 1.8rem;
	color: #fff;
}

.btn.btn-primary {
	background-color: var(--color-primary);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 2.4rem;
	border-radius: 0.6rem;
	width: 100%;
}

.btn.btn-primary.rounded {
	border-radius: 2.3rem;
	max-width: max-content;
}

.btn.btn-ghost {
	background-color: transparent;
	font-weight: 400;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.btn.btn-ghost.w-icon-red .icon {
	font-size: 2.4rem;
	color: var(--color-primary);
}

.btn.btn-ghost.w-icon-gray .icon {
	font-size: 1.8rem;
	color: var(--gray0);
}

.btn.btn-filled-gray {
	background-color: var(--gray0);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 2.4rem;
	border-radius: 0.6rem;
	width: 100%;
}

/*Fim dos estilos globais de botões*/

/* Início dos estilos de tags */

.orders-tag {
	border-radius: 6px;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.6rem;
	width: max-content;
	padding: 0 0.8rem;
}

.orders-tag.keep-up {
	background: var(--color-primary);
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}

.orders-tag.rate {
	background: var(--gray0);
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}

.orders-tag.stars {
	background: transparent;
	color: var(--gray0);
	font-size: 1.8rem;
	font-weight: 400;
}

.orders-tag.stars .icon {
	font-size: 2.4rem;
}

.orders-tag.big {
	height: auto;
	border-radius: 6px;
	background-color: var(--gray4);
	width: 100%;
	padding: 1.2rem 1.6rem;
	gap: 0.8rem;
}

.orders-tag.big .icon {
	font-size: 2.4rem;
}

.orders-tag.big span {
	font-size: 1.9rem;
	font-weight: 700;
}

/* Fim dos estilos de tags */

/* Início dos estilos de componentes de modal */

.modal-more-options {
	padding: 0 1rem 0 1rem;
	position: fixed;
	bottom: 0;

	left: 0;
	width: 100%;
	transform: translateY(-50%);
	opacity: 0;
	transition: all 0.2s ease-in;
}

.modal-more-options.active {
	transform: translateY(0);
	opacity: 1;
}

.modal-more-options .container {
	border-radius: 1.2rem 1.2rem 0 0;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
	background-color: var(--gray3);
	padding: 2rem 2.4rem 3.5rem 2.4rem !important;
	display: flex;
	gap: 1.8rem;
	flex-direction: column;
}

.modal-more-options .modal-more-options__header {
	font-size: 1.8rem;
	font-weight: 400;
}

.modal-more-options .modal-more-options__content {
	display: flex;
	gap: 1.6rem;
}

/* Fim dos estilos de componentes de modal */

/* Início dos estilos de inputs */

/* Define a custom checkbox */
input[type='checkbox'] {
	display: none;
	height: 0;
	width: 0;
	opacity: 0;
}

/* Define the visible checkbox element */
input[type='checkbox'] + label {
	cursor: pointer;
	position: relative;
	padding-left: 25px;
}

/* Define the visible checkbox box when not checked */
input[type='checkbox'] + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #616161;
	border-radius: 50%; /* makes the checkbox round */
	background-color: black;
}

/* Define the visible checkbox box when checked */
input[type='checkbox']:checked + label:before {
	border: 1px solid #fd0d00;
	background-color: #fd0d00;
}

/* Define the checkmark of the checkbox */
input[type='checkbox']:checked + label:after {
	content: '';
	position: absolute;
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid black;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

/* Hides the checkmark when the checkbox is not checked */
input[type='checkbox']:not(:checked) + label:after {
	opacity: 0;
	transform: rotate(-45deg);
}

.group-checkbox {
	height: 1.8rem !important;
	width: 1.8rem;
}

.input.text {
	display: flex;
	padding: 1.2rem 1rem;
	border-radius: 0.6rem;
	background-color: var(--gray4);
	gap: 1rem;
	width: 100%;
	align-items: center;
}

.input.text input {
	font-size: 1.8rem;
	color: #fff;
	font-weight: 400;
	width: 100%;
}

.input.text .icon {
	font-size: 1.8rem;
	color: var(--gray0);
}

.input-group-radio {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 1.3rem 1.6rem;
	border-bottom: 1px solid var(--gray3);
}

.radio-button {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.custom-radio {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background-color: var(--gray3);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-radio::after {
	content: '';
	position: absolute;
	display: none;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background: #fff;
	border: 4px solid var(--color-primary);
}

.radio-button:checked ~ .custom-radio::after {
	display: block;
}

.input-number {
	display: flex;
	justify-content: flex-end;
	gap: 0.8rem;
	align-items: center;
	background-color: transparent;
	color: #fff;
	width: 12.4rem;
	height: 4.8rem;
	border-radius: 10px;
}

.input-number.big {
	display: flex;
	justify-content: center;
	gap: 0.8rem;
	align-items: center;
	background-color: transparent;
	color: #fff;
	width: 12.4rem;
	height: 4.8rem;
	border-radius: 10px;
	border: 1px solid var(--gray3);
}

.input-group-number {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 1.3rem 1.6rem;
	border-bottom: 1px solid var(--gray3);
	height: 4.8rem;
}

.input-number__decrement,
.input-number__increment {
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 2.4rem;
	height: 2.4rem;
}

.input-number__display {
	color: #fff;
	font-size: 1.8rem;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	width: 30%;
}

.input-search {
	padding: 0.8rem 1.2rem;
	background-color: var(--gray3);
	border-radius: 2rem;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.input-search input {
	width: 100%;
	color: #fff;
}

.input-search .icon.baseline-search {
	font-size: 2.4rem;
	color: var(--gray0);
	opacity: 0.4;
}

/* Fim dos estilos de inputs */

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body {
	height: 100vh;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.6rem;
	color: #fff;
	background: var(--gray5);
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: #333;
}

.container {
	width: 100%;

	padding: 0 1rem;
	margin: 0 auto;
}

/*.wrapper {width:500px; height:90%; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); }*/

header {
	display: flex;
	flex: 0 0 6rem;
	padding: 0 1rem;

	background: var(--gray4);
	align-items: center;
	justify-content: space-between;
}

/* Início dos estilos da barra horizontal de navegação */

.main-nav {
	position: sticky;
	bottom: 0;
	box-shadow: 0px -4px 9px rgba(0, 0, 0, 0.823864);
	background-color: var(--gray4);
	display: flex;
	width: 100%;

	z-index: 999;
}

.main-nav .container .cart {
	display: none;
}

.main-nav .container .cart.active {
	margin-top: 1.3rem;
	display: flex;
	width: 100%;
	background: var(--color-primary);
	border-radius: 0.6rem;
	align-items: center;
	justify-content: space-between;
	height: 4.6rem;
	padding: 1.2rem 1.3rem;
}

.main-nav .container .cart.active .cart__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.main-nav .container .cart.active .cart__icon .cart__title {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
}

.main-nav .container .cart.active .cart__icon .icon {
	font-size: 2.4rem;
}

.main-nav .container .main-nav__list {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 100%;
	padding: 1.1rem 0 2.1rem 0;
}

.main-nav .container .main-nav__list .main-nav__item.disabled {
	cursor: not-allowed;
	pointer-events: none;
}

.main-nav .container .main-nav__list .main-nav__item a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 6rem;
	padding: 1rem;
}

.main-nav .container .main-nav__list .main-nav__item a .icon {
	font-size: 2.8rem;
	color: var(--gray2);
}

.main-nav .container .main-nav__list .main-nav__item.active a .icon {
	color: var(--color-primary);
}

.main-nav .container .main-nav__list .main-nav__item.disabled a .icon {
	color: var(--gray3);
}

.main-nav .container .main-nav__list .main-nav__item a span {
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.1rem;
	text-align: center;
	color: #b5b5b5;
}

.main-nav .container .main-nav__list .main-nav__item.active a span {
	color: var(--color-primary);
}

.main-nav .container .main-nav__list .main-nav__item.disabled a span {
	color: var(--gray3);
}

.main-nav.product-view-cart {
	display: none;
}
.main-nav.product-view-cart.active {
	display: flex;
	height: auto;
	box-shadow: none;
	border-top: 1px solid var(--gray3);
}

.main-nav.product-view-cart .container {
	margin: 0 !important;
	padding: 1.6rem 1rem 3.4rem 1rem;
}

.main-nav.product-view-cart .container .cart.active {
	background: none;
	margin-top: 0;
	display: flex;
	width: 100%;

	justify-content: space-between;
	gap: 1.6rem;
}

.main-nav.product-view-cart .container .cart.active .input-group-number {
	border: none;
	padding: 0;
}

.main-nav.product-view-cart .container .cart.active .product-view-cart-add {
	display: flex;
	width: 100%;
	background: var(--color-primary);
	border-radius: 0.6rem;
	align-items: center;
	justify-content: space-between;
	height: 4.6rem;
	padding: 1.2rem 1.3rem;
	color: #fff;
}

.main-nav.product-view-cart .container {
}

/* Fim dos estilos da barra horizontal de navegação */

/* Início dos estilos do header principal */

.header-main .header__select {
	display: flex;

	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}

.header-main .header__select span {
	color: #fff;
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	text-align: center;
}

.header-main .header__select .iconify-chevron-down {
	color: #fff;
	font-size: 1.6rem;
}

.header-main .header__nav .icon {
	font-size: 3.2rem;
	color: var(--gray0);
}

/* Fim dos estilos do header principal */

/* Início dos estilos do header com botão de voltar */

.header-main.back a .icon {
	font-size: 3.2rem;
	color: var(--gray0);
}

/* Fim dos estilos do header com botão de voltar */

/* Início dos estilos do header com botão de voltar com título da página centralizado*/

.header-main.back.only-title .right-icon {
	display: none;
}

.header-main.back.only-title #btn-menu {
	height: 3.2rem;
	width: 3.2rem;
}

.header-main.back.only-title a .icon {
	font-size: 3.2rem;
	color: var(--gray0);
}

.header-main.back.only-title .header__title {
	font-size: 1.6rem;
	font-weight: 700;
}

/* Fim dos estilos do header com botão de voltar com título da página centralizado*/

/* Início dos estilos do header da página de cardápio em scroll*/

.header-main.scrolled a {
	display: none;
}

.header-main.scrolled .header__select .iconify-chevron-down {
	display: none;
}

.header-main.scrolled .header__select span {
	font-style: normal;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
}

/* Início dos estilos do header da página de cardápio em scroll*/

.header-search {
	gap: 2rem;
	padding: 1rem 0;
}

.header-search .icon.baseline-chevron-left {
	font-size: 3.2rem;
	color: var(--gray0);
}

.header-search .header__input-search {
	padding: 0.8rem 1.2rem;
	background-color: var(--gray3);
	border-radius: 2rem;
	width: 100%;
	max-width: 34.2rem;
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.header-search .header__input-search input {
	height: 100%;
	color: #fff;
	width: 100%;
}

.header-search .header__input-search .icon.baseline-search {
	font-size: 2.4rem;
	color: var(--gray0);
	opacity: 0.4;
}

/* Início dos estilos da seção de filtros da página inicial */

.filters {
	flex: 0 0 6rem;
	background: var(--gray4);
	display: flex;
	align-items: center;
}

.filters .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filters .container ul {
	display: flex;
	gap: 0.4rem;
	align-items: center;
}

.filters .container ul li {
	height: 3.2rem;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	line-height: 1.9rem;
	border-radius: 1.8rem;
	border: var(--gray3) 1px solid;
	user-select: none;
}

.filters .container ul li a {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	font-style: normal;
	font-weight: 400;
	padding: 0 1rem;
}

.filters .container ul li a .icon {
	font-size: 2rem;
}

.filters .container button {
	display: flex;
	flex: 0 0 3.2rem;
}

.filters .container button .icon {
	font-size: 3.2rem;
	color: #fff;
}

/* Fim dos estilos da seção de filtros da página inicial */
/* Início dos estilos da seção de categorias da página inicial */
.cat {
	flex: 0 0 10.2rem;
	background: linear-gradient(180deg, #333333 0%, #4a4a4a 100%);
	display: flex;
	align-items: center;
	height: 100vh;
}

.cat .container .cat-slick {
	display: flex;
	flex: 0 0 6.9rem;
	align-items: center;
	gap: 4rem;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.cat .container .cat-slick::-webkit-scrollbar {
	display: none;
}

.cat .container .cat-slick .cat__item {
	user-select: none;
}

.cat .container .cat-slick .cat__item a {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 0.8rem;
	justify-content: center;
	font-size: 1.3rem;
	width: 6rem;
}

.cat .container .cat-slick .cat__item img {
	height: 4.5rem;
}

/* Fim dos estilos da seção de categorias da página inicial */
/* Início dos estilos da seção de lista de restaurantes da página inicial */
.list {
	flex: 1;
	background: linear-gradient(180deg, #333333 0%, #4a4a4a 100%);
	overflow-y: auto;
}

.list .container .list__item {
	user-select: none;
}

.list .container .list__item a {
	display: flex;
	flex: 0 0 9rem;
	padding: 1rem 0;
	gap: 1.2rem;
	align-items: center;
}

.list .container .list__item .item__img {
	flex: 0 0 7rem;
	display: flex;
	border-radius: 50%;
}

.list .container .list__item .item__description {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.list .container .list__item .item__description .item__title {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;

	color: #ffffff;
}

.list .container .list__item .item__description .item__category {
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.6rem;

	color: var(--gray2);
}

.container .list__item .item__description .item__details {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.list .container .list__item .item__description .item__details .item__distance {
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.6rem;
	display: flex;
	align-items: center;

	color: var(--gray2);
}

.list
	.container
	.list__item
	.item__description
	.item__details
	.item__distance
	.icon {
	font-size: 1.6rem;

	color: var(--gray2);
}

/* Início dos estilos do menu fullwidth e fullheight */

#menu-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background-color: #000;
	transition: width 0.1s ease;
	overflow: hidden;
	opacity: 0;
	z-index: 9999;
}

#close-main-modal {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3.2rem;
	color: #fff;
	cursor: pointer;
}

#menu-modal.active {
	width: 100%;
	opacity: 100;
}

#menu-modal.active .container {
	margin: 25% 0 1.6rem;
}

#menu-modal.active .container .menu-modal__header {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	margin-bottom: 2.8rem;
}

#menu-modal.active .container .menu-modal__header .icon {
	font-size: 3.2rem;
}

#menu-modal.active .container .menu-modal__header h2 {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
	color: #ffffff;
}

#menu-modal.active .container .menu-modal__list {
	padding-top: 3rem;
	border-top: 1px solid var(--gray3);
}

#menu-modal.active .container .menu-modal__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.4rem;
}
#menu-modal.active .container .menu-modal__list .menu-modal__item {
	position: relative;
}

#menu-modal.active .container .menu-modal__list .menu-modal__item a {
	padding: 1.6rem 0;
	width: 100%;
	display: flex;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
	gap: 1.2rem;
	align-items: center;
}

#menu-modal.active .container .menu-modal__list .menu-modal__item a .icon {
	font-size: 3.2rem;
}

#menu-modal.active .container .menu-modal__list .menu-modal__item.accent > a {
	color: var(--color-primary);
}

#menu-sphere {
	border-radius: 50%;
	background-color: var(--color-primary);
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
	color: #fff;
}

/* INÍCIO DA PÁGINA DE ESTABELECIMENTO */

.intro-establishment {
	height: 22rem;
	width: 100%;
	position: relative;
}

.intro-establishment .intro-establishment__img {
	position: relative;
	height: 100%;
}

.intro-establishment .intro-establishment__img img {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.intro-establishment__overlay {
	background: linear-gradient(
		180deg,
		rgba(51, 51, 51, 0.0001) 0%,
		#333333 100%
	);
	position: absolute;
	z-index: 1;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
}

.intro-establishment .intro-establishment__info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.6rem;
	top: 15vh;
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: center;
}

.intro-establishment .intro-establishment__info .info__logo {
	width: 9rem;
	height: 9rem;

	border-radius: 50%;
}

.intro-establishment .intro-establishment__info .info__logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.intro-establishment .intro-establishment__info .info__main h1 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
}

.intro-establishment .intro-establishment__info .info__main .info__details {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	justify-content: center;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.6rem;
	display: flex;
	align-items: center;

	color: var(--gray2);
}

.intro-establishment
	.intro-establishment__info
	.info__main
	.info__details
	.item__distance {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.6rem;
	display: flex;
	align-items: center;

	color: var(--gray2);
}

.intro-establishment .intro-establishment__info .establishment-options {
	margin-top: 3rem;
}

.intro-establishment
	.intro-establishment__info
	.establishment-options
	.establishment-options__list {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.intro-establishment
	.intro-establishment__info
	.establishment-options
	.establishment-options__list
	.establishment-options__item.disabled {
	color: var(--gray3);
}

.intro-establishment
	.intro-establishment__info
	.establishment-options
	.establishment-options__list
	.establishment-options__item
	a {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.intro-establishment
	.intro-establishment__info
	.establishment-options
	.establishment-options__list
	.establishment-options__item
	a
	p {
	display: flex;
	text-align: left;
	flex-direction: column;
}

.intro-establishment
	.intro-establishment__info
	.establishment-options
	.establishment-options__list
	.establishment-options__item
	a
	p
	.item__title {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
}

.intro-establishment
	.intro-establishment__info
	.establishment-options
	.establishment-options__list
	.establishment-options__item
	a
	p
	.item__status {
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.6rem;

	color: var(--gray3);
}

.intro-establishment
	.intro-establishment__info
	.establishment-options
	.establishment-options__list
	.establishment-options__item
	a
	.icon {
	font-size: 4rem;
}

/* FIM DA PÁGINA DE ESTABELECIMENTO */

/* INÍCIO DA PÁGINA DE MENU */

.menu-main {
	overflow-y: auto;
}

.menu-header.scrolled,
.menu-fee.scrolled,
.menu-search.scrolled {
	display: none;
}

.menu-superior {
	display: none;
}

.menu-superior.scrolled {
	display: flex;
	background: linear-gradient(180deg, #333333 0%, #4a4a4a 100%);
}

.menu-superior.scrolled .container .menu-superior__nav-list {
	height: 4rem;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	display: flex;
	align-items: center;
}

.menu-superior.scrolled .container .menu-superior__nav-list::-webkit-scrollbar {
	display: none;
}

.menu-superior.scrolled .container .menu-superior__nav-list .nav-list__item a {
	padding: 1rem 0.8rem;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.8rem;
	width: 100%;
	display: inline-block;
	white-space: nowrap;
}

.menu-superior.scrolled
	.container
	.menu-superior__nav-list
	.nav-list__item.active
	a {
	color: var(--color-primary);
	border-bottom: 3px solid var(--color-primary);
}

.menu-header {
	height: 12.4rem;
	width: 100%;
	position: relative;
}

.menu-header .menu-header__img {
	position: relative;
	height: 100%;
}

.menu-header .container {
	position: relative;
}

.menu-header .menu-header__img img {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu-header__overlay {
	background: linear-gradient(
		180deg,
		rgba(51, 51, 51, 0.0001) 0%,
		#333333 100%
	);
	position: absolute;
	z-index: 1;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
}

.menu-header .menu-header__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -3.2rem;
	width: 100%;
	position: absolute;
	z-index: 1;
	left: 0;
	padding: 0 1rem;
}

.menu-header .menu-header__info .info__logo {
	width: 5rem;
	height: 5rem;

	border-radius: 50%;
}

.menu-header .menu-header__info .info__logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu-header .menu-header__info h1 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
}

.menu-header .menu-header__info .info__details {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.6rem;
	display: flex;

	color: var(--gray2);
}

.menu-header .menu-header__info .info__details .item__distance {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.6rem;
	display: flex;

	color: var(--gray2);
}

.menu-fee .container ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.8rem;
	padding-top: 4.8rem;
	padding-bottom: 0.8rem;
}

.menu-fee .container ul li {
	display: flex;
	flex: 0 0 12rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 1px solid var(--gray3);
	border-radius: 0.4rem;
	height: 4.5rem;
}

.menu-fee .container ul li p:first-child {
	font-size: 1.3rem;
	line-height: 1.6rem;
	text-align: center;
}

.menu-fee .container ul li p:last-child {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.9rem;
}

.menu-search {
	background: linear-gradient(180deg, #333333 0%, #4a4a4a 100%);
}

.menu-search .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	height: 6rem;
}

.menu-search p {
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.6rem;
}

.menu-search p span {
	font-weight: 700;
}

.menu-search .container #section-menu-search {
	height: 3.2rem;
}

.menu-search .container .icon {
	font-size: 3.2rem;
	color: var(--gray0);
}

.menu-off {
	margin-top: 1.8rem;
}

.menu-off .container h1 {
	margin-bottom: 1.8rem;
}

.menu-off .container .off__list {
	display: flex;
	flex: 0 0 18rem;
	align-items: center;
	gap: 1.2rem;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.menu-off .container .off__list::-webkit-scrollbar {
	display: none;
}

.menu-off .container .off__list .list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
	flex: 0 0 15rem;
}

.menu-off .container .off__list .list__item .item__description {
	display: flex;

	gap: 0.8rem;
	flex-direction: column;
}

.menu-off .container .off__list .list__item .item__description .item__title {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.7rem;
}

.menu-off .container .off__list .list__item .item__description .item__price {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: var(--color-primary);
}

.menu-dishes {
	margin-top: 2.4rem;
	background-color: var(--gray4);
}

.menu-dishes .container .divider {
	height: 0.1rem;
	width: 100%;
	background-color: var(--gray3);
	margin-bottom: 1.8rem;
}

.menu-dishes .container .dishes__list a {
	display: flex;
	padding: 1.5rem 0;
	gap: 2.4rem;
}

.menu-dishes .container .dishes__list a .item__description {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.menu-dishes .container .dishes__list a .item__description .item__title {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.7rem;
}

.menu-dishes .container .dishes__list a .item__description .item__price {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.7rem;
	color: var(--color-primary);
}

.menu-dishes .container .dishes__list a .item__description .item__text {
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.6rem;
	color: var(--gray2);
}

.menu-dishes .container .dishes__list a img {
	flex: 0 0 10.8rem;
	height: 8rem;
	border-radius: 0.4rem;
}

#header-img {
	height: 26rem;
	object-fit: cover;
	width: 100%;
}

#view-product {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--gray4);
	transition: all 0.2s ease;
	overflow: hidden;
	opacity: 0;
	z-index: 9999;
	transform: translateY(100vh);
	border-radius: 1.2rem 1.2rem 0 0;
}

#close-view-product {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 4.8rem;
	color: #fff;
	cursor: pointer;
}

#view-product.active {
	transform: translateY(0);
	opacity: 100;
}

#view-product.active .container {
	margin: 2.4rem 0 1.6rem;
}

#view-product.active .view-product__description .container h2 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

#view-product.active .view-product__description .container p {
	color: var(--gray2);
	font-size: 1.5rem;
	font-weight: 400;
}

#view-product.active .view-product__options .container {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

#view-product.active .view-product__options .input-group-radio {
	font-size: 1.6rem;
	font-weight: 400;
	font-style: normal;
}
#view-product.active .view-product__options .options__header {
	background-color: var(--gray3);
	padding: 0 1.6rem;
	border-radius: 0.6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 6rem;
}
#view-product.active .view-product__options .options__header .header__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#view-product.active
	.view-product__options
	.options__header
	.header__text
	.text__title {
	color: #fff;
	font-size: 1.8rem;
	font-weight: 700;
}

#view-product.active
	.view-product__options
	.options__header
	.header__text
	.text__description {
	color: #fff;
	font-size: 1.3rem;
	font-weight: 400;
}

#view-product.active
	.view-product__options
	.options__header.optional
	.header__text
	.text__description,
#view-product.active
	.view-product__options
	.options__header.optional
	.header__warning {
	display: none;
}

#view-product.active .view-product__options .options__header .header__warning {
	color: var(--color-primary);
	font-size: 1.4rem;
	font-weight: 700;
}

#view-product.active .view-product__options {
	overflow-y: auto;
	height: calc(100vh - 376px);
	padding-bottom: 9.6rem;
}

/* Início dos estilos da página de perfil */

.wrapper.profile {
	background: var(--gray5);
}

.s-personal-data {
	margin-top: 1.6rem;
	width: 100%;
}

.wrapper.profile .header-main {
	background: var(--gray5);
}

.s-personal-data .container {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	justify-content: center;
	align-items: center;
}

.s-personal-data .s-personal-data__photo {
	height: 12rem;
	width: 12rem;
	border-radius: 50%;
	background: var(--gray4);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.s-personal-data .s-personal-data__photo .photo__container .icon {
	font-size: 4.8rem;
	color: var(--gray3);
}

.s-personal-data .s-personal-data__photo .photo__exclude {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 3.6rem;
	height: 3.6rem;
	background-color: var(--color-primary);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.s-personal-data .s-personal-data__photo .photo__exclude .icon {
	font-size: 2rem;
	color: #fff;
}

.s-personal-data .container .s-personal-data__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	margin-top: 2.4;
}

.s-personal-data .container .s-personal-data__form .btn-primary {
	margin-top: 1.6rem;
}

.s-personal-data .container .s-personal-data__form .w-icon-gray {
	margin-top: 1.6rem;
}

/* Fim dos estilos da página de perfil */

/* Início dos estilos da página de alteração de senha*/

.s-password {
	margin-top: 1.6rem;
}

.s-password .btn-primary {
	margin-top: 1.6rem;
}

/* Fim dos estilos da página de alteração de senha*/

/* Início dos estilos da página de lista de pedidos*/

.s-my-orders .container .orders__list {
	display: flex;
	flex-direction: column;
}

.orders__item {
	display: flex;
	gap: 1.6rem;
	padding: 1.6rem;
	border-radius: 0.6rem;
	align-items: center;
	gap: 1.2rem;
	width: 100%;
	height: 9rem;
}

.orders__item .orders__item__img {
	flex-shrink: 0;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--gray4);
}

.orders__item .orders__item__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.orders__item .orders__item__details {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.orders__item .orders__item__details h3 {
	font-size: 1.8rem;
	font-weight: 700;
}

.orders__item .orders__item__details p {
	color: var(--gray2);
	font-size: 1.3rem;
	font-weight: 400;
}

.orders-sumary__item {
	display: flex;
	gap: 1.6rem;

	width: 100%;
}

.orders-sumary__item .sumary__item__img {
	position: relative;
	max-width: 7rem;
	margin-top: 0.4rem;
	flex-shrink: 0;
	border-radius: 5px;
}

.orders-sumary__item .sumary__item__img .quant-ornament {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 50%;
	top: -0.6rem;
	right: -0.6rem;
	width: 2rem;
	height: 2rem;
	background-color: #fff;
	opacity: 1;
	color: #000;
	font-size: 1.3rem;
	font-weight: 700;
}

.orders-sumary__item .sumary__item__img img {
	object-fit: cover;
}

.orders-sumary__item .sumary__item__details {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.orders-sumary__item .sumary__item__details h3 {
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.4rem;
}

.orders-sumary__item .sumary__item__details p {
	color: var(--gray2);
	font-size: 1.3rem;
	font-weight: 400;
}

.orders-sumary__item .sumary__item__price p {
	color: #fff;
	font-size: 1.3rem;
	font-weight: 700;
	white-space: nowrap;
}

.order-details__item {
	display: flex;

	gap: 0.4rem;
	width: 100%;
}

.order-details__item .order-details__rows {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	width: 100%;
}

.order-details__item .order-details__contact {
	display: flex;
	gap: 1.2rem;
	font-size: 3.2rem;
}

.order-details__item .order-details__rows .order-details__row {
	color: var(--gray2);
	font-size: 1.3rem;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order-details__item .order-details__rows .order-details__row.title {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
}

.order-details__item .order-details__rows .order-details__row.total {
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.4rem;
}

.s-my-orders-view {
	padding-bottom: 3.2rem;
}

.s-my-orders-view .container .orders-sumary__list {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	margin: 3.2rem 0;
}

.s-my-orders-view .container .orders-details__list {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

/* Fim dos estilos da página de lista de pedidos*/

/* Início dos estilos da página de avaliação de pedido*/

.s-review .s-review__order {
	opacity: 1;
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(74, 74, 74, 1) 100%
	);
}

.s-review .s-review__order .container {
	height: 11.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.s-review .s-review__order .container p {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
}

.s-review .s-review__order .container h2 {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
}

.s-review .s-review__ask {
	margin-top: 6.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.s-review .s-review__ask .container {
	margin-bottom: 6.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.s-review .s-review__ask .ask__illustration {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.6rem;
}

.s-review .s-review__ask .ask__illustration .ask__title {
	color: #fff;
	font-size: 1.9rem;
	font-weight: 700;
}

.s-review .s-review__ask .ask__stars {
	display: flex;
}

.s-review .s-review__ask .ask__stars .rate-star {
	font-size: 4.8rem;
	color: var(--gray3);
}

.s-review .s-review__ask .ask__more-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.s-review .s-review__ask .ask__more-info .rate-tag {
	border-radius: 1.4rem;
	border: 1px solid var(--gray2);

	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 400;
	font-style: normal;
	padding: 0.4rem 1.5rem;
}

.s-review .s-review__ask .ask__more-info .rate-tag.active {
	border: none;
	background-color: #fffd03;
	color: #000;
}

.s-review .s-review__ask .ask__stars .rate-star.active {
	color: #fffd03;
}
.container-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 3.4rem;
}

/* Início dos estilos da página de endereços */

.s-address {
}
.s-address .input-search {
	margin: 1rem 0;
}

.s-address .use-location {
	margin: 3rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	gap: 1rem;
	font-size: 1.8rem;
	font-weight: 400;
}

.s-address .use-location .icon {
	font-size: 2.4rem;
}

.s-address .my-adress-list {
	display: flex;
	flex-direction: column;
}

.my-adress-list__item {
	border-radius: 0.8rem;
	border: 1px solid var(--gray4);
	height: 8.5rem;
	display: flex;
	align-items: center;
	padding: 0 1.6rem;
}

.my-adress-list__item .item__group {
	display: flex;
	width: 100%;
	gap: 1.6rem;
  align-items: center;
}

.my-adress-list__item .item__address h3 {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
}

.my-adress-list__item .item__address p {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
}

.my-adress-list__item .item__more {
	font-size: 3.2rem;
	color: var(--gray0);
	height: 3.2rem;
	width: 3.2rem;
}

.s-address .address-search-list {
	display: flex;
	flex-direction: column;
}

.address-search-list .address-search-list__item {
	display: flex;
	gap: 0.8rem;
	padding: 1.2rem 0;
	align-items: center;
}

.address-search-list .address-search-list__item h3 {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
}

.address-search-list .address-search-list__item p {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
}

.address-search-list .address-search-list__item .icon {
	font-size: 2.4rem;
	color: var(--gray3);
}

/* Seção de endereço com visualização de mapa */

.s-address-map .s-address-map__header {
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}

.s-address-map .s-address-map__header .container {
	height: 11.5rem;
	display: flex;
	align-items: center;

	flex-direction: column;
}

.s-address-map .s-address-map__header .container p {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
	text-align: center;
}

.s-address-map .s-address-map__header h2 {
	margin-top: 1rem;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	text-align: center;
}

/* Seção de complemento de endereço */

.s-address-complement .s-address-complement__header {
	margin-top: 1.6rem;
}

.s-address-complement .btn-primary {
	margin-top: 1.6rem;
}

.s-address-complement .s-address-complement__header {
	margin: 1rem 0 2.4rem 0;
}

.s-address-complement .s-address-complement__header .container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.s-address-complement .s-address-complement__header .container p {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
	text-align: center;
}

.s-address-map .s-address-map__header h2 {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2.4rem;
}

/* Fim dos estilos da página de endereços */

/* Início dos estilos das páginas de pagamentos */

/* Seção de adicionar método de pagamento (vazio) */

.s-payment-add .s-payment-add__cta {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.s-payment-add .s-payment-add__cta .cta__illustration {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -12rem;
	gap: 4rem;
}

/* Seção de adicionar método de pagamento (lista de cartões) */

.payment-methods__item {
	border-radius: 0.8rem;
	border: 1px solid var(--gray4);
	height: 6.8rem;
	display: flex;
	align-items: center;
	padding: 0 1.6rem;
	gap: 0.8rem;
}

.payment-methods__item .item__warning {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	border-radius: 0.6rem;
	background-color: var(--color-primary);
	padding: 0.4rem 0.8rem;
	flex-shrink: 0;
}

.payment-methods__item .item__more {
	height: 3.2rem;
	width: 3.2rem;
}

.payment-methods__item .item__group {
	display: flex;
	width: 100%;
	gap: 1.6rem;
	align-items: center;
}

.payment-methods__item .item__group .icon__container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 0.4rem;
	padding: 0.8rem;
	height: 2.7rem;
	min-width: 4.8rem;
}

.payment-methods__item .item__group .icon__container .icon {
	font-size: 1rem;
}

.payment-methods__item .item__info h3 {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
}

.payment-methods__item .item__info p {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
}

.payment-methods__item .item__more {
	font-size: 3.2rem;
	color: var(--gray0);
}

/* seção de validação de cartão */

.s-payment-validation .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 3.2rem;
}

.s-payment-validation .container .input.text {
	width: 100%;
	max-width: 100%;
}

.s-payment-validation .container .input.text input {
	text-align: center;
}

.s-payment-validation .container .text {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.6rem;

	.bold {
		font-weight: 700 !important;
	}
}
